{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<h1>Profil</h1>
<p>Willkommen, {{ app.user.userIdentifier }}!</p>
<p>Dies ist ein geschützter Bereich.</p>
{% endblock %}
